html{
    background-color: #313845;
}

body{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-align: center;
    color: whitesmoke;
}

header{
    background-color: #6C3C86;
    max-width: max-content;
    margin: 20px auto 10px auto;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}

h1{
    color: #d8aeee;
    font-family: 'Fredoka One', cursive;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

h3{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 0;
}

footer{
    margin-top: 50px;
}

.result-container{
    display: flex;
    align-content: center;
    flex-direction: column;

    max-width: 410px;
    margin: 0 auto 10px auto;
    padding: 20px;
    min-height: 110px;
    background-color:#364E3A;

    border: 3px solid #233125;
    border-radius: 20px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.rps-btn{
    transition-property: all;
    transition-duration: 0.1s;

    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    margin: 0 5px 3px 5px;
    padding: 0;

    width: 100px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
}

.rps-btn:hover{
    transform: translateY(0px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.rps-btn:active{
    transform: translateY(3px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.rps-btn#r{
    background-color: #B08FB4;
}
.rps-btn#r:active{
    background-color: #9b7d9e;
}
.rps-btn#p{
    background-color: #B4B08F;
}
.rps-btn#p:active{
    background-color: #969276;
}
.rps-btn#s{
    background-color: #8FB4B0;
}
.rps-btn#s:active{
    background-color: #759491;
}

.scores-container{
    display: flex;
    justify-content: space-between;

    margin: 0 auto 0 auto;
    width: 200px;
    padding: 15px;
}

.score-container{
    padding: 10px;
    width: 70px;
    background-color: #40657D;

    border-radius: 10px;
}

.score-label{
    margin-top: 3px;
    margin-bottom: 5px;

    font-size: 0.95rem;
}

.score-text{
    font-size: 2.3rem;
}

.log-scroll-container{
    overflow: auto;
    margin: 20px auto 0 auto;

    background-color: #404269;
    border-radius: 10px;
    height: 200px;
    max-width: 350px;
}

.log-container{
    display: flex;
    flex-direction: column;
    padding: 13px 15px;

    text-align: left;
}

.log{
    margin: 3px 0;
}

#descr{
    font-size: 1rem;
    font-style: italic;
    margin-top: 5px;
}

#round-counter{
    margin-top: 25px;
    margin-bottom: 10px;

    font-size: 1.3rem;
}

#result{
    box-sizing: content-box;
    margin: auto;
    white-space: pre-line;
    font-size: 1.7rem;
}

#s-label{
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 25px;
    margin-bottom: 0;
}