html{
    background-color: #313845;
}

body{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-align: center;
    color: whitesmoke;
}

header{
    background-color: #8760C3;
    max-width: max-content;
    margin: 25px auto 20px auto;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}

h1{
    color: #e4ddec;
    font-family: 'Fredoka One', cursive;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

h3{
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.result-container{
    display: flex;
    align-content: center;

    max-width: 410px;
    margin: 30px auto 20px auto;
    padding: 20px;
    min-height: 120px;
    background-color:#633350;

    border: 3px solid rgb(68, 37, 55);
    border-radius: 20px;
}

.scores-container{
    display: flex;
    justify-content: space-between;

    margin: 0 auto 0 auto;
    width: 180px;
    padding: 15px;
}

.score-container{
    width: 80px;
}

.score-label{
    margin-top: 0;
    margin-bottom: 5px;

    font-size: 1rem;
}

.score-text{
    font-size: 2.2rem;
}

#descr{
    font-size: 1rem;
    margin-top: 5px;
}

#result{
    box-sizing: content-box;
    margin: auto;
    white-space: pre-line;
    font-size: 1.7rem;
}

#s-label{
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 0;
}