html{
    background-color: #313845;
}

body{
    font-size: 14px;
    text-align: center;
    color: whitesmoke;
}

header{
    background-color: #8760C3;
    
    width: max-content;
    margin: 25px auto 20px auto;
    padding: 15px 30px 10px 30px;
    border-radius: 20px;
}

h1{
    color: #D2C0E7;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    letter-spacing: 1px;
}